# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory-based node_modules
node_modules/

# Vite
/dist
/.env*.local

# Typescript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Next.js (leftover)
.next/
out/

# Shadcn leftovers
components.json

